<div class="ui row segment">
  <div class="four wide column">
    <div class="suite-grupo-numero">{{numero}}</div>
    <div class="suite-grupo-titulo">{{titulo}}</div>
  </div>
  <div class="seven wide column">
    <table class="ui very basic compact table tabla-definicion tabla-detalle-personas">
      <tbody>
        {{#each filas as |fila|}}
          <tr>
            <td class="five wide"><b>{{fila.titulo}}:</b></td>

            {{#if fila.componente}}
              <td class="eleven wide">{{component fila.componente model=model}}</td>
            {{else}}
              <td class="eleven wide">{{get model fila.id}}</td>
            {{/if}}

          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
  {{yield}}
</div>
