{{yield}}

{{#if trabajo.isRunning}}

  <div class="disabled o-50">
    {{suite-boton texto=texto accion=(action "crearTarea")}}
  </div>


{{else}}

  {{#if trabajo.last.isSuccessful}}
    {{suite-boton texto="Descargar" accion=(action "descargar")}}
  {{else}}
    {{suite-boton texto=texto accion=(action "crearTarea")}}
  {{/if}}

{{/if}}

  <div class="ba b--gray br2 h1 w4 mt2">
    <div class="bg-lightest-blue h-100 width-animated" style={{width}}>
      &nbsp;
    </div>
  </div>

<div class="mt2 pa2 overflow-auto ba b--light-gray">
  {{#each detalle as |linea|}}
    <div class='f6'>{{linea}}</div>
  {{/each}}
</div>
