{{#if media.isMobile}}

  <div class="ui sidebar inverted vertical menu">
    {{suite-lista-de-rutas}}
  </div>

  <a class="launch icon item" {{action 'toggle' 'sub-sidebar'}}>
    <i class="content icon"></i>
  </a>

{{else}}

  {{#link-to "app.escritorio.index" tagName="div" class="item logo-container" current-when="index"}}
    <img class="isologo" src="/logotipo.png">
  {{/link-to}}

  {{suite-lista-de-rutas}}

{{/if}}

{{yield}}

<div class="right menu">

  {{#link-to "app.mi-perfil" class="ui item"}}{{ember-initials class="user-big-avatar icon" name=nombreCompleto size=20}} &nbsp; Preferencias{{/link-to}}
  {{suite-usuario cuandoQuiereCerrarSesion=cuandoQuiereCerrarSesion}}
</div>
