{{yield}}

{{#if tarea}}

{{#if tarea.last.isError}}
  {{suite-tabla-error-de-api error=tarea.last.error}}
{{else}}

  <div class="ui action input">
    {{input type="text" placeholder="Ingrese CUE o nombre" autofocus=true enter=(action "alIngresarFiltro") value=filtro_temporal}}
    <button class="ui button" onclick={{action "alIngresarFiltro"}}><i class="search icon"></i> Buscar</button>
  </div>


  {{#data-table data=tarea.lastSuccessful.value.data classNames='ui celled striped table selectable' as |t|}}

      {{#t.column propertyName='cue' defaultHeader=true name='CUE' as |col|}}
        {{#link-to "app.escuelas.detalle" col.row}}{{col.row.cue}}{{/link-to}}
      {{/t.column}}

      {{t.column propertyName='nombre' name='Nombre'}}

      {{#t.column defaultHeader=true name='Región' as |col|}}
        {{suite-promesa valor=col.row.localidad.distrito.region.numero}}
      {{/t.column}}

      {{#t.column defaultHeader=true name='Localidad' as |col|}}
        {{suite-promesa valor=col.row.localidad.nombre}}
      {{/t.column}}

      {{#t.column defaultHeader=true name='Nivel' as |col|}}
        {{suite-promesa valor=col.row.nivel.nombre}}
      {{/t.column}}

      {{#t.column name='Financiamiento' defaultHeader=true as |col|}}
        {{suite-promesa valor=col.row.tipoDeFinanciamiento.nombre}}
      {{/t.column}}

      {{#t.column name='Programas' defaultHeader=true as |col|}}
        {{suite-tabla/celda-programas valor=col.row.programas}}
      {{/t.column}}


  {{/data-table}}

  {{#unless tarea.lastSuccessful.value.data}}
    <div class="centrado">Sin datos para mostrar</div>
  {{/unless}}

  {{suite-tabla-paginador
      meta=tarea.lastSuccessful.value.meta
      cuandoCambiaPagina=(action "cambiarPagina")
      pagina=pagina}}

    {{#if tarea.last.isRunning}}
      <div class="overlay-spinner">
        {{suite-tabla-spinner}}
      </div>
    {{/if}}

{{/if}}
{{/if}}
