{{#if data}}

<form class="ui form" {{action "onSubmit" on="submit"}}>

  {{#each data.campos as |campo|}}

    {{#if (eq campo.tipo "input")}}

      {{suite-form-input
        nombre=campo.nombre
        ejemplo=campo.ejemplo
        etiqueta=campo.etiqueta
      }}

    {{else if (eq campo.tipo "dropdown")}}


      {{suite-form-dropdown
        nombre=campo.nombre
        ejemplo=campo.ejemplo
        opciones=campo.opciones
        etiqueta=campo.etiqueta
      }}

    {{else}}
      ERROR, no se sabe que componente dibujar para el tipo de campo
      {{campo.tipo}}
    {{/if}}

  {{/each}}



  {{#if data.textos.guardar}}
    <div class="ui submit button">{{data.textos.guardar}}</div>
  {{else}}
    <div class="ui submit button">Guardar</div>
  {{/if}}

  <div class="ui error message"></div>

</form>

{{else}}

  <div class="ui ignored warning message">
    El formulario ha sido inicializado incorrectamente, defina un valor para el parametro data.
  </div>

{{/if}}
