{{yield}}

<h3>Panel de depuración, ingresos de prueba:</h3>

<div>
  <button class='ui primary button' {{action 'ingresar' 'admin' 'asdasd123'}}>admin</button>
  <button class='ui primary button' {{action 'ingresar' 'coordinador' 'asdasd123'}}>coordinador (reg 1)</button>
  <button class='ui primary button' {{action 'ingresar' 'facilitador' 'asdasd123'}}>facilitador (reg 1)</button>
  <button class='ui primary button' {{action 'ingresar' 'referente' 'asdasd123'}}>referente (reg 1)</button>
  ||
  <button class='ui orange button' {{action 'ingresar' 'celmandrut@abc.gob.ar' 'dte_27769558'}}>celemandrut (FED reg 1)</button>
  <button class='ui orange button' {{action 'ingresar' 'mleone@abc.gob.ar' 'dte_27273220'}}>mleones (Coord reg 2)</button>
</div>
