{{yield}}

{{#if meta}}

  Mostrando {{meta.pagination.count}} registros en total.
  <br/>
  <br/>

  <ul class="ui pagination menu small pl0">

    {{#if puedeRetroceder}}
      <li class="icon item" {{action "mostrarPaginaAnterior"}}><a><i class="left arrow icon"></i></a></li>
    {{else}}
      <li class="icon item disabled"><a><i class="left arrow icon disabled"></i></a></li>
    {{/if}}

    {{#each listaDePaginas as |numero|}}
      {{suite-tabla-paginador-pagina numero=numero actual=paginaActual alPulsar=(action "mostrarPagina")}}
    {{else}}
      {{suite-tabla-paginador-pagina numero=1 actual=paginaActual alPulsar=(action "mostrarPagina")}}
    {{/each}}

    {{#if puedeAvanzar }}
      <li class="icon item" {{action "mostrarSiguientePagina"}}><a><i class="right arrow icon "></i></a></li>
    {{else}}
      <li class="icon item disabled"><a><i class="right arrow icon disabled"></i></a></li>
    {{/if}}
  </ul>

{{/if}}
