<div class="ba pa2 b--light-gray bg-black-05 flex">
  {{#each filtros as |filtro|}}

    {{component filtro.componente
      nombre=filtro.nombre
      etiqueta=filtro.etiqueta
      deshabilitado=filtro.deshabilitado
      valor=(get (get this 'parametros') filtro.nombre)
      accion=(action 'cambiar' filtro.nombre)
      etiquetaTodos=filtro.etiquetaTodos
    }}

  {{else}}
    No has especificado los filtros
  {{/each}}

  {{yield}}

</div>

<div class="mb3 flex pt2">
  <div class="flex1"></div>
  <div class="f7 pa2 gray ttc unselectable">Acciones</div>
  <div class="tr">
    {{suite-boton accion=limpiarParametros texto="Limpiar filtros"}}
    {{suite-boton-tarea tarea=tareaExportar texto='Exportar planilla' textoAlternativo="Exportando ..."}}
  </div>
</div>
