{{yield}}
<div class="ui row segment">
  <div class="five wide column">
    <div class="suite-grupo-numero">{{numero}}</div>
    <div class="suite-grupo-titulo">{{titulo}}</div>
  </div>
  <div class="eleven wide column">
    <table class="ui very basic compact table tabla-definicion tabla-detalle-personas">
      <tbody>
        {{#each filas as |fila|}}
          <tr>
            <td class="four wide"><b>{{fila.titulo}}:</b></td>

            {{#if fila.componente}}
              <td class="twelve wide">{{component fila.componente model=model}}</td>
            {{else}}
              <td class="twelve wide">{{get model fila.id}}</td>
            {{/if}}
            
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</div>
