{{#if media.isMobile}}

  <div class="ui sidebar inverted vertical menu">
    {{suite-lista-de-rutas}}
  </div>

  <a class="launch icon item" {{action 'toggle' 'sub-sidebar'}}>
    <i class="content icon"></i>
  </a>

{{else}}

  {{#link-to "app.index" tagName="div" class="item logo-container" current-when="index"}}
    <img class="isologo" src="/logotipo.png">
  {{/link-to}}

  {{suite-lista-de-rutas}}

{{/if}}

{{yield}}

<div class="right menu">

  {{#if usandoMirage}}
    <span class="aviso-mirage">Usando Mirage en modo local</span>
  {{/if}}

  {{suite-usuario nombre=nombre cuandoQuiereCerrarSesion=cuandoQuiereCerrarSesion}}
</div>
