{{yield}}

  {{ember-initials class="user-big-avatar icon" name=nombreCompleto size=20}}

<div class="menu">

  {{#link-to "app.mi-perfil" tagName="div" class="item"}}
    <strong>{{nombreCompleto}}</strong>

    <div class="suite-usuario__detalle_rol">
      {{rol}}

      {{#if region}}
        de la Región {{region}}
      {{/if}}
    </div>

  {{/link-to}}

  {{#if perfil.tieneAccesoAAmbosSistemas}}

    {{#if (not-eq aplicacionActual "app")}}
      {{#if perfil.tieneAccesoASuite}}
        {{#link-to 'app.escritorio.index' tagName='div' class='item'}}Ingresar a SUITE{{/link-to}}
      {{/if}}
    {{/if}}

    {{#if (not-eq aplicacionActual "robotica")}}
      {{#if perfil.tieneAccesoARobotica}}
        {{#link-to 'robotica.index' tagName='div' class='item'}}Ingresar a Robótica{{/link-to}}
      {{/if}}
    {{/if}}

  {{/if}}

  {{#if puedeSimularAcceso}}
    {{#link-to 'app.personas.simular' tagName='div' class='item'}}Simular acceso como otro usuario{{/link-to}}
  {{/if}}

  <div class="divider"></div>
  <div class="item" {{action 'invalidateSession'}}>Cerrar sesión</div>

</div>
