{{yield}}

{{#if tarea}}

  {{#if tarea.last.isError}}
    {{suite-tabla-error-de-api error=tarea.last.error}}
  {{else}}

    {{#data-table data=tarea.lastSuccessful.value.data classNames='ui celled striped table selectable dt--fixed' as |t|}}

      {{#each columnas as |columna|}}

        {{#t.column class="elipsis truncate" propertyName=columna.atributo defaultHeader=false name=columna.titulo as |col|}}

          {{#if col.header}}
            {{suite-tabla/columna ordenamiento=ordenamiento columna=columna accion=cuandoCambiaOrdenamiento}}
          {{else}}

            {{#suite-ajustar-celda centrar=columna.centrar ajustar=columna.ajustar}}

            {{#if columna.template}}
              {{component columna.template valor=(get col.row columna.atributo)}}
            {{else if columna.componente}}
              {{component columna.componente model=col.row}}
            {{else}}

              {{#if columna.promesa}}
                {{suite-espera-promesa promesa=(get col.row columna.promesa)}}
              {{/if}}

              {{#if columna.ruta}}
                {{#if columna.promesa}}
                  {{#link-to columna.ruta (get col.row columna.promesa)}} {{get col.row columna.atributo}} {{/link-to}}
                {{else}}
                  {{#link-to columna.ruta col.row}} {{get col.row columna.atributo}} {{/link-to}}
                {{/if}}
              {{else}}
                {{#if columna.fecha}}
                  {{#if (get col.row columna.atributo)}}
                    {{suite-fecha fecha=(get col.row columna.atributo)}}
                  {{else}}
                    <i class="ui minus grey icon"></i>
                  {{/if}}
                {{else if columna.fechaHora}}
                  {{#if (get col.row columna.atributo)}}
                    {{suite-detalle/fecha-acciones-lista fecha=(get col.row columna.atributo)}}
                  {{else}}
                    <i class="ui minus grey icon"></i>
                  {{/if}}
                {{else}}


                  {{#if columna.promesa}}
                    {{#if (is-pending (get col.row columna.promesa))}}
                    {{else}}
                      {{#if (get col.row columna.atributo)}}
                        {{get col.row columna.atributo}}
                      {{else}}
                        <i class="ui minus grey icon"></i>
                      {{/if}}
                    {{/if}}
                  {{else}}

                    {{#if (get col.row columna.atributo)}}
                      {{get col.row columna.atributo}}
                    {{else}}
                      <i class="ui minus grey icon"></i>
                    {{/if}}

                  {{/if}}


                {{/if}}

              {{/if}}

            {{/if}}

            {{/suite-ajustar-celda}}
          {{/if}}

        {{/t.column}}

      {{else}}
        Imposible dibujar la tabla, no especificó el atributo 'columnas'.
      {{/each}}

    {{/data-table}}


    {{#unless tarea.lastSuccessful.value.data}}
      {{#if tarea.last.isRunning}}
        {{suite-tabla-skeleton columnas=columnas}}
      {{else}}
        <div class="centrado">Sin datos para mostrar</div>
      {{/if}}
    {{/unless}}

    {{#if paginacion}}
      {{suite-tabla-paginador
          meta=tarea.lastSuccessful.value.meta
          cuandoCambiaPagina=(action "cambiarPagina")
          cuandoCambiaLimite=(action "cambiarLimite")
          permiteCambiarLimite=cuandoCambiaLimite
          pagina=pagina}}
    {{/if}}

      {{#if tarea.last.isRunning}}
        <div class="overlay-spinner">
          {{suite-tabla-spinner}}
        </div>
      {{/if}}

  {{/if}}
{{/if}}
