{{outlet}}
<div class="ui stackable grid">

  <div class="ui row middle aligned segment">
    <div class="sixteen wide column">
      <h3 class="ui header">
        {{model.titulo}} - {{model.id}} - {{model.fechaDeAlta}}
      </h3>
    </div>
  </div>

  <div class="ui equal width row middle aligned segment">
    <div class="column">
      {{prioridad-de-tarea model.prioridadDeTarea.nombre}}
    </div>
    <div class="column">
      {{estado-de-tarea model.estadoDeTarea.nombre}}
    </div>
  </div>

  <div class="ui equal width row segment">
    <div class="column">
        {{#suite-permiso permiso="tareas.editar"}}
          {{#link-to "app.tareas.editar" model class="ui button primario"}}Editar{{/link-to}}
        {{/suite-permiso}}
    </div>
  </div>

    {{suite-detalle
        numero="1"
        titulo="Características"
        model=model
        filas=model.filaCaracteristicas
    }}
    {{suite-detalle
        numero="2"
        titulo="¿Dónde se realizará?"
        model=model
        filas=model.filaEscuela
    }}
    <div class="ui row segment">
      <div class="four wide column">
        <div class="suite-grupo-numero">3</div>
        <div class="suite-grupo-titulo">Comentarios</div>
      </div>
      <div class="seven wide column">
        <button class='ui button primario disabled'><i class="ui plus icon"></i> Hacer un comentario</button>
        <div class="ui feed">
          {{#if model.comentariosDeTarea}}
            {{#each model.comentariosDeTarea as |comentario|}}
              <div class="event">
                <div class="label">
                  {{#if comentario.autor.image}}
                      <img src="{{comentario.autor.image}}">
                  {{else}}
                    {{ember-initials class='user-big-avatar' name=(concat comentario.autor.nombre " " comentario.autor.apellido) size=80}}
                  {{/if}}
                </div>
                <div class="content">
                  <div class="summary">
                    {{comentario.autor.nombreCompleto}} comentó
                    <div class="date">
                      {{comentario.fechaDeAlta}}
                    </div>
                  </div>
                  <div class="extra text">
                    {{{comentario.comentario}}}
                  </div>
                </div>
              </div>
            {{/each}}
          {{else}}
            <p>Sin comentarios</p>
          {{/if}}
        </div>
      </div>
    </div>

</div>
