{{suite-titulo titulo="Escritorio"}}

<p>Esta es una versión preliminar de <strong>suite 2</strong>, seleccione
  alguna de las secciones que aparencen en pantalla para continuar.</p>
<h5 class="ui header">Validaciones</h5>
<div class="ui equal width stackable grid section">
  <div class="column">
    {{#if model.validaciones.isRunning}}
      {{suite-spinner}}
    {{else if model.validaciones.error}}
      <p>Error: {{model.validaciones.error}}</p>
    {{else}}
      <div class="ui equal width grid">
        <div class="column">
          {{#link-to app.validaciones.index}}Ver lista{{/link-to}}
          {{model.totalValidaciones.value.data}}
        </div>
        <div class="column">
          {{suite-graficos/suite-pie-chart data=model.validaciones.value}}
        </div>
        <div class="column">
          <p>aprobadas</p>
          <i class="ui red chat icon"></i>
          {{model.validaciones.value.data.aprobadas}}
        </div>
      </div>
    {{/if}}
  </div>
</div>

{{outlet}}
