<div class="ui suite-container center aligned main">
    <img class="ui medium center aligned image" src="/logotipo-robotica-home.svg">
    <!-- <div class="ui statistics">
      <div class="statistic">
        <div class="value">
          {{model.data.talleresCreadosEstaSemana}}
        </div>
        <div class="label">
          Talleres creados esta semana
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{model.data.talleresProgramadosParaEstaSemana}}
        </div>
        <div class="label">
          Talleres programados para esta semana
        </div>
      </div>
    </div> -->
<!-- <div class="ui segment"> -->
  <!-- {{suite-graficos/suite-stacked-chart data=model.data.porRegion}} -->
  <!-- {{suite-graficos/suite-pie-chart data=model.data.estado leyenda="full"}}
  <div class="ui four column stackable grid">
    <div class="column">
      {{suite-graficos/suite-pie-chart data=model.data.region1 leyenda="false" titulo="Regi贸n 1"}}
    </div>
    <div class="column">
      {{suite-graficos/suite-pie-chart data=model.data.region2 leyenda="false" titulo="Regi贸n 2"}}
    </div>
    <div class="column">
      {{suite-graficos/suite-pie-chart data=model.data.region3 leyenda="false" titulo="Regi贸n 3"}}
    </div>
    <div class="column">
      {{suite-graficos/suite-pie-chart data=model.data.region4 leyenda="false" titulo="Regi贸n 4"}}
    </div>
  </div>
</div> -->
  {{outlet}}

  {{suite-version}}
</div>
