{{outlet}}

{{#if tareaExportarInforme.isRunning}}

  <h2>Exportando lista de validaciones ...</h2>

  <p>{{suite-spinner}}</p>

{{else if tareaExportarInforme.error}}

  <div class="error">
    {{tareaExportarInforme.error}}
  </div>

{{else}}

  <h2>¡Listo!</h2>

  <p>Se ha generado correctamente la lista de validaciones.</p>

{{/if}}
