{{yield}}

<div class="flex">

{{#power-select-multiple
  disabled=disabled
  search=(perform buscarPersonas)
  selected=valor
  placeholder="Buscar acompañantes..."
  class="selectorDeAcompaniantes w-100"
  tagName='div'
  onchange=(action "cuandoSeleccionaPerfil")
  as |item|
}}
  {{item.nombre}} {{item.apellido}} <span class='f7 gray'>{{item.cargoComoCadena}}</span>
  <div class="etiquetas-a-derecha">

    <div class="ui basic tiny label">
      Cargo
      <div class="detail">{{item.cargo.nombre}}</div>
    </div>

    <div class="ui basic tiny label">
      Región
      {{item.region.numero}}
    </div>
  </div>
{{/power-select-multiple}}

  <div class="ml2 v-mid pt1">
    {{suite-boton-tarea tarea=tareaAsignarEquipo texto='Asignar a todo el equipo' textoAlternativo="Asignando ..."}}
  </div>

</div>
