{{yield}}

{{#if (is-pending valor)}}
  <input class='ui input disabled' placeholder="Cargando ...">
{{else}}

{{#power-select
  disabled=disabled
  search=(perform buscarPersonas)
  selected=valor
  class="selectorDePerfil"
  tagName='div'
  onchange=(action "cuandoSeleccionaPerfil")
  as |item|
}}
  {{item.nombre}} {{item.apellido}} <small class="gray">DNI: {{item.dni}}</small>

  <div class="etiquetas-a-derecha">

    <div class="ui basic tiny label">
      Cargo
      <div class="detail">{{item.cargo.nombre}}</div>
    </div>

    <div class="ui basic tiny label">
      Region
      {{item.region.numero}}
    </div>
  </div>



{{/power-select}}

{{/if}}
