<div class="ui grid">
  <div class="five wide column">
    {{suite-titulo titulo="Validaciones"}}
  </div>
  <div class="eleven wide column">
    {{suite-estadisticas/validaciones tarea=model.estadisticas}}
  </div>
</div>
{{outlet}}
<div class="ui divider"></div>

<div class="ui equal width row segment">
  <div class="column">
    {{#suite-permiso permiso="validaciones.crear"}}
      <button class='ui button primario' {{action (route-action "crearUnaValidacionNueva")}}><i class="ui plus icon"></i> Nueva validación</button>
    {{/suite-permiso}}
    {{#suite-permiso permiso="validaciones.editar"}}
      <button class='ui button primario' {{action (route-action "exportarValidaciones")}}><i class="ui plus icon"></i> Exportar validaciones</button>
    {{/suite-permiso}}

  </div>
</div>

{{suite-filtros/validaciones
  filtro=filtro
  region=model.region
  deshabilitarSeleccionDeRegion=model.deshabilitarSeleccionDeRegion
  cuandoSeleccionaRegion=(route-action "cuandoSeleccionaRegion")
  alIngresarFiltro=(route-action "alIngresarFiltro")
}}


{{suite-tabla
  pagina=model.pagina
  columnas=model.columnas
  tarea=model.tareaValidaciones
  paginacion=true
  cuandoCambiaPagina=(route-action "cuandoCambiaPagina")
}}
