{{outlet}}

{{suite-titulo titulo="Detalle de usuario"}}

<div class="barra-de-botones">
  {{#link-to "app.personas.edicion" model class="ui button primario"}}Editar{{/link-to}}
</div>

<div class="ui stackable grid">

  <div class="four wide column">

    {{#if model.image}}
      <img src={{model.image}} width="100%" class="avatar-img">
    {{else}}
      {{ember-initials class='user-big-avatar' name=(concat model.nombre " " model.apellido) size=160}}
    {{/if}}

    <!--
      {{#x-file-input class="avatar-file-uploader"}}
        Subir imagen
      {{/x-file-input}}
    -->


  </div>

  <div class="twelve wide column">

    {{suite-detalle
        titulo="Datos administrativos"
        model=model
        filas=model.filaDatosAdministrativos
    }}

    {{suite-detalle
        titulo="Datos personales"
        model=model
        filas=model.filaDatosPersonales
    }}


  </div>

</div>
