<div class="ui grid">
  <div class="five wide column">
    {{suite-titulo titulo="Personas"}}
  </div>
  <div class="eleven wide column">
    {{suite-estadisticas/personas tarea=model.estadisticas}}
  </div>
</div>
{{outlet}}

<div class="ui divider"></div>

<div class="ui equal width row segment">
  <div class="column">
    {{#suite-permiso permiso="personas.crear"}}
      <button class="ui button primario " {{action (route-action "crearUnUsuarioNuevo")}}><i class="ui plus icon"></i> Agregar persona</button>
    {{/suite-permiso}}

    {{#suite-permiso permiso="personas.verinformes"}}
      {{#link-to "app.personas.informes.index" class="ui button primario "}}<i class="ui file icon"></i> Generar informes{{/link-to}}
      {{#link-to "app.personas.informesPorRegion.index" class="ui button primario "}}<i class="ui file icon"></i> Generar informes por región{{/link-to}}
    {{/suite-permiso}}
  </div>
</div>

{{suite-filtros
  filtros=filtros
  parametros=allQueryParams

  accion=(action 'cambiarParametro')
  limpiarParametros=(action 'limpiarParametros')
}}

{{suite-tabla
  ordenamiento=ordenamiento
  cuandoCambiaOrdenamiento=(action "cuandoCambiaOrdenamiento")
  pagina=pagina
  columnas=columnas
  tarea=tarea
  paginacion=true

  cuandoCambiaPagina=(action "cuandoCambiaPagina")
}}
