{{outlet}}

{{suite-titulo titulo="Personas"}}

<div class="barra-de-botones">
  <button class="ui button primario " disabled {{action (route-action "crearUnUsuarioNuevo")}}>Crear un usuario nuevo</button>
</div>

{{suite-filtros/escuelas filtro=filtro pagina=pagina tarea=model.tareaPersonas}}

{{suite2-tabla
  pagina=pagina
  columnas=model.columnas
  filtro=filtro
  tarea=model.tareaPersonas
  paginacion=true
}}
