{{outlet}}

<h2 class="ui header">Informe de tareas de {{model.nombreCompleto}}</h2>
{{#if model.informe}}
  Total de acciones: {{model.informe.value.data.content.length}}
  {{#each model.informe.value.data.content as |content|}}
    <li>
      {{content.__data.fecha}} al {{content.__data.fechaFin}}<br>
      {{content.__data.titulo}}<br>
      {{{content.__data.objetivo}}}
    </li>
  {{/each}}
{{/if}}
