{{outlet}}
<div class="ui stackable grid">

  <div class="ui row middle aligned segment">
    <div class="ten wide column">
      <h3 class="ui header">
        {{model.titulo}} - {{model.escuela.cue}}
      </h3>
    </div>
    <div class="four wide column"></div>
    <div class="two wide column">
      {{#link-to "app.agenda.editar" model class="ui button primario"}}Editar{{/link-to}}
    </div>
  </div>

  <div class="ui equal width row middle aligned segment">
    <div class="column">
      {{suite-estado-de-acta evento=model mostrarEtiqueta=true}}
    </div>
    <!-- <div class="column">
      <i class="ui comment icon"></i> 3
    </div> -->
    <!-- <div class="column">
      <i class="ui green check icon"></i> Autorizada
    </div> -->
    {{#if model.requiereTraslado}}
      <div class="column">
        <i class="ui grey car icon"></i> Requiere traslado
      </div>
    {{/if}}
  </div>


      {{suite-detalle
          numero="1"
          titulo="Datos de la acción"
          model=model
          filas=model.filaDatosDeAccion
      }}
      {{suite-detalle
          numero="2"
          titulo="Responsable y acompañantes"
          model=model
          filas=model.filaUsuarios
      }}
      {{suite-detalle
          numero="3"
          titulo="Se realizará en"
          model=model
          filas=model.filaEscuela
      }}


  </div>
