{{outlet}}

<div class="ui secondary pointing fluid menu">
  <h2 class="ui header">Agenda</h2>

    <div class="right menu">

      <div class='ui item'> <span class='box orange'></span> Pedidos </div>
      <div class='ui item'> <span class='box green'></span> Completos </div>
      <div class='ui item'> <span class='box red'></span> Sin acta </div>


    </div>

</div>



<div class="barra-de-botones">
  <button class="ui button green" {{action "abrirModalParaCreacion"}}><i class='ui plus icon'></i> Crear un evento nuevo</button>

  <span class='text-orange'><i class='ui exclamation circle icon'></i> Hay 3 pedidos</span>
</div>

{{#ember-remodal forService=true}}

  {{#if debeMostrarCrearEvento}}

    <h2>Crear un evento</h2>

    {{#validated-form
      model        = (changeset eventoActual validaciones)
      on-submit    = (action "crearEvento")
      submit-label = 'Crear evento' as |f|}}

      {{f.input label="Título" name="title"}}

      <div class="ui two column grid">
        <div class="row">
          <div class="column">
            {{f.input type='date' label="Fecha comienzo" name="start"}}
          </div>

          <div class="column">
            {{f.input type='date' label="Fecha de finalización" name="end"}}
          </div>
        </div>
      </div>


    {{/validated-form}}

  {{else}}

    <h2>Modificar un evento</h2>

    {{#validated-form
      model        = (changeset eventoActual validaciones)
      on-submit    = (action "guardarEvento")
      submit-label = 'Guardar el evento' as |f|}}

      {{f.input label="Título" name="title"}}

      <div class="ui two column grid">
        <div class="row">
          <div class="column">
            {{f.input label="Fecha comienzo" name="start"}}
          </div>
          <div class="column">
            {{f.input label="Fecha de finalización" name="end"}}
          </div>
        </div>
      </div>

    {{/validated-form}}

  {{/if}}
{{/ember-remodal}}



{{#if model.eventos}}


{{full-calendar
    header=header
    businessHours=true
    locale='es'
    eventLimit=true
    events=eventos

    viewRender=(action 'viewRender')
    dayClick=(action 'dayClicked')
    eventClick=(action 'clicked')
}}

{{/if}}
