{{outlet}}

<div class="ui secondary pointing fluid menu">
  <h2 class="ui header">Agenda</h2>



  <div class="menu">
    <a href="#" class="ui item active">Agenda</a>
    <a href="#" class="ui item disabled">Lista</a>
  </div>

</div>



<div class="barra-de-botones">
  <button class="ui button green" {{action "abrirModalParaCreacion"}}><i class='ui plus icon'></i> Crear un evento nuevo</button>


  <div class='pull-right'>

    <label>
      {{input type="checkbox"
      id="checkbox-policy"
      name="checkboxPolicy"
      class="ui checkbox"
      checked=model.mostrarFinesDeSemana
    }}

    Mostrar fines de semana
    </label>
  </div>

  <!--span class='text-orange'><i class='ui exclamation circle icon'></i> Hay 3 pedidos</span-->
</div>


{{#ember-remodal forService=true}}

  {{#if debeMostrarCrearEvento}}

    <h2>Crear un evento</h2>

    {{suite-formularios/evento
      model        = (changeset eventoActual validaciones)
      on-submit    = (action "crearEvento")
      texto = 'Crear evento'
    }}

  {{else}}

    <h2>Modificar un evento</h2>

    {{suite-formularios/evento
      model        = (changeset eventoActual validaciones)
      on-submit    = (action "guardarEvento")
      texto = 'Guardar el evento'
    }}

  {{/if}}

{{/ember-remodal}}



{{full-calendar
    header=header
    businessHours=true
    locale='es'
    events=eventos
    handleWindowResize=true
    eventLimit=false

    mostrarFinesDeSemana=model.mostrarFinesDeSemana

    viewRender=(action 'viewRender')
    dayClick=(action 'dayClicked')
    eventClick=(action 'clicked')
    eventRender=(action 'eventRender')
}}
