<div class="ui grid">
  <div class="five wide column">
    {{suite-titulo titulo="Paquetes de provisión"}}
  </div>
  <div class="eleven wide column">
    {{suite-estadisticas/paquetes tarea=model.estadisticas}}
  </div>
</div>

<div class="ui divider"></div>

<div class="ui equal width row segment">
  <div class="column">
    {{#suite-permiso permiso="paquetes.crear"}}
      <button class="ui button primario" {{action (route-action "crearPaquetesMasivos")}}><i class="ui plus icon"></i> Solicitar paquetes</button>
    {{/suite-permiso}}

    {{#suite-permiso permiso="paquetes.exportar"}}
      {{#link-to "app.paquetes.exportar.index" class="ui button primario "}}<i class="ui file icon"></i> Exportar paquetes{{/link-to}}
    {{/suite-permiso}}
  </div>
</div>
{{suite-filtros/paquetes
  filtro=model.filtro
  region=model.region
  deshabilitarSeleccionDeRegion=model.deshabilitarSeleccionDeRegion
  cuandoSeleccionaRegion=(route-action "cuandoSeleccionaRegion")
  alIngresarFiltro=(route-action "alIngresarFiltro")
}}


{{suite-tabla
  pagina=model.pagina
  columnas=model.columnas
  tarea=model.tareaPaquetes
  paginacion=true
  cuandoCambiaPagina=(route-action "cuandoCambiaPagina")
}}
