{{outlet}}
<div class="ui stackable grid">

  <div class="ui row middle aligned segment">
    <div class="ten wide column">
      <h3 class="ui header">
        {{model.nombre}} - {{model.cue}}
      </h3>
    </div>
    <div class="four wide column"></div>
    <div class="two wide column">
      {{#link-to "app.escuelas.edicion" model class="ui button primario"}}Editar{{/link-to}}
    </div>
  </div>

  <div class="ui equal width row middle aligned segment">
    <div class="column">
      <i class="ui check circle icon"></i> Abierta
    </div>
    <div class="column">
      <i class="ui server icon"></i> Piso: {{model.piso.estadoComoCadena}}
    </div>
  </div>

  <div class="ui equal width row segment">
    <div class="column">
      <h4>Acciones</h4>

      <p><button class="ui primario button" {{action (route-action "crearEventoParaEstaEscuela")}}><i class='ui plus icon'></i> Agendar acción</button></p>
    </div>
  </div>


    {{suite-detalle
        numero="1"
        titulo="Piso"
        model=model
        filas=model.filaPiso
    }}
    {{suite-detalle
        numero="2"
        titulo="Información"
        model=model
        filas=model.filaInformacion
    }}
    {{#suite-detalle
        numero="3"
        titulo="Datos de contacto"
        model=model
        filas=model.filaDatosDeContacto
    }}
    <div class="five wide column g-map">
      {{#if model.tieneDatosGeolocalizacion}}
        {{#g-map lat=model.latitud lng=model.longitud zoom=16 as |context|}}
          {{g-map-marker context lat=model.latitud lng=model.longitud}}
        {{/g-map}}
      {{else}}
        <div class="sin-mapa">
          Sin datos de ubicación
        </div>
      {{/if}}
    </div>
    {{/suite-detalle}}
    {{#if model.contactos}}
    <div class="ui row segment">
      <div class="four wide column">
        <div class="suite-grupo-numero">4</div>
        <div class="suite-grupo-titulo">Personal</div>
      </div>
      <div class="seven wide column">
        <table class="ui very basic compact table tabla-definicion tabla-detalle-personas">
          <tbody>
            {{#each model.contactos as |contacto|}}
              <tr>
                <td class="five wide"><b>Nombre:</b></td>
                <td class="eleven wide">{{contacto.nombre}}</td>
              </tr>
              <tr>
                <td class="five wide"><b>Cargo:</b></td>
                <td class="eleven wide">{{contacto.cargo.nombre}}</td>
              </tr>
              <tr>
                <td class="five wide"><b>Teléfono particular:</b></td>
                <td class="eleven wide">{{contacto.telefono-particular}}</td>
              </tr>
              <tr>
                <td class="five wide"><b>Teléfono celular:</b></td>
                <td class="eleven wide">{{contacto.telefono-celular}}</td>
              </tr>
              <tr>
                <td class="five wide"><b>Email:</b></td>
                <td class="eleven wide">{{contacto.email}}</td>
              </tr>
              <tr>
                <td class="five wide"><b>Horario:</b></td>
                <td class="eleven wide">{{contacto.horario}}</td>
              </tr>
              <br>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{/if}}



</div>
