{{outlet}}
<div class="ui secondary pointing fluid menu">
  <h2 class="ui header">Escuelas</h2>

    <div class="right menu">
      {{#link-to "app.escuelas.index" class="ui item"}}Listado{{/link-to}}
      <!-- {{#link-to "app.regiones.mapa" class="ui item"}}Mapa{{/link-to}} -->
    </div>

</div>

{{suite-tabla-escuelas tarea=model.tareaEscuelas}}

<!--

{{#data-table data=model.escuelas classNames='ui celled table selectable' as |t|}}
    {{#t.column propertyName='cue' defaultHeader=true name='CUE' as |col|}}
      {{#link-to "app.escuelas.detalle" col.row}}{{col.row.cue}}{{/link-to}}
    {{/t.column}}

    {{t.column propertyName='nombre' name='Nombre'}}
    {{t.column propertyName='position' name='Position'}}

    {{#t.column propertyName='team' defaultHeader=true name='Team' as |col|}}
      {{col.row.cue}}
    {{/t.column}}

{{/data-table}}


{{suite-tabla-paginador}}

<p>Sin datos para mostrar</p>





{{suite-tabla
  cantidad=25
  filas=model.escuelas
  columnas=model.columnas
}}

-->
