<div class="ui grid">
  <div class="five wide column">
    {{suite-titulo titulo="Escuelas"}}
    {{#if model.region.numero}}
      <div class="ui basic label">Región {{model.region.numero}}</div>
    {{/if}}
    {{#link-to "app.escuelas.todas"}}Todas las de la provincia{{/link-to}}
  </div>
  <div class="eleven wide column">
    {{suite-estadisticas/escuelas tarea=model.estadisticas}}
  </div>
</div>

<div class="ui divider"></div>

<div class="ui equal width row segment">
  <div class="column">
    {{#suite-permiso permiso="escuelas.crear"}}
      <button class="ui button primario " {{action (route-action "crearUnaEscuelaNueva")}}><i class="ui plus icon"></i> Crear escuela</button>
    {{/suite-permiso}}
     {{#suite-permiso permiso="escuelas.listar"}}
      {{#if model.tareaExportar.isRunning}}
        <button class='ui button primario disabled'><i class="ui download icon"></i> Exportando escuelas</button>
      {{else}}
        <button class='ui button primario' {{action (route-action "exportarEscuelas")}}><i class="ui download icon"></i>Exportar escuelas de la provincia</button>
      {{/if}}
    {{/suite-permiso}}
  </div>
</div>

{{suite-filtros/escuelas
  filtro=model.filtro
  region=model.region
  deshabilitarSeleccionDeRegion=model.deshabilitarSeleccionDeRegion
  cuandoSeleccionaRegion=(route-action "cuandoSeleccionaRegion")
  alIngresarFiltro=(route-action "alIngresarFiltro")
}}

{{suite-tabla
  pagina=model.pagina
  columnas=model.columnas
  tarea=model.tareaEscuelas
  paginacion=true
  cuandoCambiaPagina=(route-action "cuandoCambiaPagina")
}}
