
<div class="ui grid">
  <div class="five wide column">
    {{suite-titulo titulo="Escuelas"}}
    {{#suite-permiso permiso="escuelas.crear"}}
      <button class="ui button primario " {{action (route-action "crearUnaEscuelaNueva")}}><i class="ui plus icon"></i> Crear escuela</button>
    {{/suite-permiso}}
  </div>
  <div class="eleven wide column">
    {{suite-estadisticas/escuelas tarea=model.estadisticas}}
  </div>
</div>


<div class="ui secondary pointing fluid menu">
    <div class="menu">
      {{#link-to "app.escuelas.index" class="ui item"}}Listado{{/link-to}}
      {{#link-to "app.escuelas.mapa" class="ui item"}}Mapa{{/link-to}}
    </div>
</div>

<div class="filtros">

  <div class="celda-filtro">
    {{suite-campo/filtro
      ayuda="Ingrese CUE o nombre"
      valor=model.filtro
      alBuscar=(route-action "alIngresarFiltro")
    }}
  </div>

  <div class="celda-filtro">
    {{suite-selector/region
        deshabilitado=model.deshabilitarSeleccionDeRegion
        permiteSeleccionarTodasLasRegiones=true
        valor=model.region
        cuandoSelecciona=(route-action "cuandoSeleccionaRegion")
    }}
  </div>

</div>

{{suite-tabla
  pagina=model.pagina
  columnas=model.columnas
  tarea=model.tareaEscuelas
  paginacion=true
  cuandoCambiaPagina=(route-action "cuandoCambiaPagina")
}}
