{{outlet}}

<h1>Modales</h1>

<p>Para incluir diálogos modales
estamos usando un componente propio llamado <code>suite-modal</code>.</p>

<p>Por ejemplo, el siguiente botón abre un dialogo
  modal muy sencillo:</p>

<p><button class="ui button" {{action "abrirModalConPreferenciasDeUsuario"}}>Abrir preferencias de usuario</button></p>


{{#suite-modal mostrar=mostrarDialogo}}
  <h1>Preferencias de usuario</h1>

  <p>Este es un dialogo modal ilustrativo, no altera ninguna
    configuración realmente.</p>

  <p>
  {{ui-checkbox label="Recordar acceso" checked=true onChange=(action (mut pre_checked))}}
  </p>

  <p>
  {{ui-checkbox label="Habilitar animaciones visuales" checked=false onChange=(action (mut pre_checked))}}
  </p>

  <p class="modal-barra-de-botones">
    <button class="ui button" {{action "cerrarDialogo"}}>Guardar</button>
  </p>
{{/suite-modal}}
