{{yield}}

{{#if (is-pending model.actaLegacy)}}
  <div class="ui active inline mini loader"></div>
{{else}}
  {{#if model.actaLegacy}}
    <a href="http://media-suite.dtelab.com.ar/agenda/agendafiles/{{model.legacyId}}_{{model.actaLegacy}}" target="_blank"><i class="blue file icon"></i></a>

    {{#suite-popup mostrar=debeMostrarPopup}}
      Ver acta
    {{/suite-popup}}
  {{else if model.acta}}

    <a href={{model.acta}} target="_blank"><i class="blue file icon"></i></a>

    {{#suite-popup mostrar=debeMostrarPopup}}
      Ver acta
    {{/suite-popup}}

  {{else}}
    <i class="red outline file icon"></i>

    {{#suite-popup mostrar=debeMostrarPopup}}
      Sin acta
    {{/suite-popup}}

  {{/if}}
{{/if}}
