{{yield}}

{{#if (is-pending model.actaLegacy)}}
  <div class="ui active inline mini loader"></div>
{{else}}
  {{#if model.actaLegacy}}
    {{#ui-popup content="Ver acta" position='bottom left'}}
      <a href="http://media-suite.dtelab.com.ar/agenda/agendafiles/{{model.legacyId}}_{{model.actaLegacy}}" target="_blank"><i class="green file icon"></i></a>
    {{/ui-popup}}
  {{else}}
    {{#ui-popup content="Sin acta" position='bottom left'}}
      <i class="yellow file icon"></i>
    {{/ui-popup}}
  {{/if}}
{{/if}}
