{{outlet}}

<div class="ui stackable grid">
  <div class="ui ten wide column">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">
          {{model.titulo.nombre}}
        </div>
      </div>
      <div class="content">
        <div class="ui horizontal divided list">
          <div class="item">
            {{#if model.cerrarEvento}}
              <i class="ui blue check icon"></i> Finalizado
            {{else}}
              <i class="ui orange time icon"></i> Abierto
            {{/if}}
          </div>
          <div class="item">
            {{#if model.acta}}
               <a class="ui" href="{{model.acta}}" target="_blank" data-tooltip="Ver Acta">
                 <i class="ui blue file icon"></i>Con Acta
               </a>
            {{else}}
              <i class="ui red file icon"></i>Sin Acta
            {{/if}}
          </div>
          {{#if model.cerrarEvento}}
            <div class="item">
              {{#if (eq model.seDioElTaller "Si")}}
                <i class="ui blue thumbs up icon"></i>Se dió el taller
              {{else}}
                <i class="ui red exclamation icon"></i>No se dió el taller
              {{/if}}
            </div>
          {{/if}}
          <div class="item">
            <div class="ui" data-tooltip="Fecha de creación">
              <i class="ui gray calendar plus icon"></i>{{moment-format model.fechaDeCreacion 'DD/MM/YYYY H:m'}}
            </div>
          </div>
          <div class="item">
            <div class="ui" data-tooltip="Fecha de última modificación">
              <i class="ui gray calendar icon"></i>{{moment-format model.fechaDeUltimaModificacion 'DD/MM/YYYY H:m'}}
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="ui large relaxed list">
          <div class="item">
            <i class="ui calendar icon"></i>
            <div class="content">
              <div class="header">
                Fecha
              </div>
              {{model.fechaFormateada}}
            </div>
          </div>
          <div class="item">
            <i class="ui user icon"></i>
            <div class="content">
              <div class="header">
                Tallerista
              </div>
              {{model.tallerista.nombreCompleto}}
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="ui large relaxed list">
          <div class="item">
            <i class="ui book icon"></i>
            <div class="content">
              <div class="header">
                Área en que se dicta
              </div>
              {{model.areaEnQueSeDicta.nombre}}
            </div>
          </div>
          <div class="item">
            <i class="ui university icon"></i>
            <div class="content">
              <div class="header">
                Curso y sección
              </div>
              {{model.curso.nombre}} {{model.seccion.nombre}}
            </div>
          </div>
          <div class="item">
            <i class="ui users icon"></i>
            <div class="content">
              <div class="header">
                Cantidad de alumnos
              </div>
              {{model.cantidadDeAlumnos}}
            </div>
          </div>
          <div class="item">
            <i class="ui user icon"></i>
            <div class="content">
              <div class="header">
                Docente a cargo
              </div>
              {{model.docente_a_cargo}}
            </div>
          </div>
        </div>
      </div>
      {{#if model.cerrarEvento}}
        <div class="content">
          <div class="ui large relaxed list">
            <div class="item">
              <i class="ui check circle icon"></i>
              <div class="content">
                <div class="header">
                  ¿Se realizó el taller?
                </div>
                {{#if (eq model.seDioElTaller "Si")}}
                  Si
                {{else}}
                  No
                {{/if}}
              </div>
            </div>
            {{#if (eq model.seDioElTaller "No")}}
              <div class="item">
                <i class="ui file alternate icon"></i>
                <div class="content">
                  <div class="header">
                    Motivo por el cual no se pudo dar el taller
                  </div>
                  {{model.motivo}}
                </div>
              </div>
            {{/if}}
            <div class="item">
              <i class="ui file icon"></i>
              <div class="content">
                <div class="header">
                  Acta
                  </div>
                  {{#if model.acta}}
                     <a href="{{model.acta}}" target="_blank" title="Ver acta">Ver acta</a>
                  {{else}}
                    <i class="ui red file icon"></i> Sin acta
                  {{/if}}
                </div>
            </div>
            {{#if model.minuta}}
              <div class="item">
                <div class="header">
                  <i class="ui comment icon"></i>
                  Observaciones
                </div>
                <div class="ui message">
                  {{model.minuta}}
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      {{/if}}
      <div class="content">
          {{#if model.puedeEditar}}
            {{#link-to "robotica.agenda.editar" model class="ui button primario"}}<i class="ui edit icon"></i>Editar{{/link-to}}
          {{/if}}
          <!-- Si tiene el permiso para eliminar el evento, muestro el botón  Eliminar
          Y el modal para eliminarlo
          -->
          {{#suite-permiso permiso="agenda.eliminar"}}

            <button class="ui red button" {{action (mut mostrarDialogo) true}}><i class="ui cancel icon"></i>Eliminar</button>

            {{#suite-modal mostrar=mostrarDialogo}}
              <h1>¡Aviso!</h1>

              <div class="content">
                <p>Está por eliminar el taller: {{model.titulo.nombre}} - {{model.escuela.cue}} </p>
                <p>¿Está seguro que quiere eliminarla?</p>
              </div>

              <div class="actions mt4">
                <button class="ui button" {{action (mut mostrarDialogo) false}}>Cancelar</button>
                <button class="ui red button" {{action "eliminar" model}}>Confirmar</button>
              </div>
            {{/suite-modal}}
          {{/suite-permiso}}
      </div>
    </div>
  </div>
  <div class="ui six wide column">
    <div class="ui fluid card">
      <div class="content">
        {{#link-to 'robotica.escuelas.detalle' model.escuela class="header"}}{{model.escuela.nombre}}{{/link-to}}
        <div class="meta">
          <span class="address">{{model.escuela.direccion}}</span>
        </div>
        <div class="meta">
          <span class="city">{{model.escuela.localidad.nombre}}, {{model.escuela.localidad.distrito.nombre}}</span>
        </div>
        <div class="meta">
          <div class="ui gray label">
            CUE
            <div class="detail">
              {{model.escuela.cue}}
            </div>
          </div>
          <div class="ui gray label">
            Región
            <div class="detail">
              {{model.escuela.localidad.distrito.region.numero}}
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        {{#if model.escuela.tieneDatosGeolocalizacion}}
          {{#g-map lat=model.escuela.latitud lng=model.escuela.longitud zoom=16 as |context|}}
            {{g-map-marker context lat=model.escuela.latitud lng=model.escuela.longitud}}
          {{/g-map}}
        {{else}}
          {{suite-g-map direccion=model.escuela.direccionGoogleMaps}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
