{{#validated-form
  model        = model
  on-submit    = tareaGuardar
  submit-label = texto as |f|
}}

  {{#suite-grupo numero=1 titulo="Acceso"}}

    {{f.input label="Clave (al menos 4 caracteres)" name="clave" required=true}}
    {{f.input label="Confirmación de clave" name="confirmacion" required=true}}

  {{/suite-grupo}}

  {{#suite-grupo titulo=""}}
    {{f.submit label=texto class="ui button green"}} {{yield}}

    {{#if error}}
      <div class="ui negative message">
        <p>{{error}}</p>
      </div>
    {{/if}}
  {{/suite-grupo}}

{{/validated-form}}
