{{#validated-form
  model        = model
  on-submit    = tareaGuardar
  submit-label = texto as |f|
}}

  {{#suite-grupo numero=1 titulo="Piso"}}
    <p class="ui orange basic label">
      {{#if editar}}
        El piso solo se podrá editar desde el botón "editar piso" de la vista detalle.
      {{else}}
        El piso se creará vacío, editelo una vez creada la escuela.
      {{/if}}
    </p>
  {{/suite-grupo}}

  {{#suite-grupo numero=2 titulo="Información"}}
    {{f.input label="CUE" name="cue" }}
    {{f.input label="Nombre" name="nombre"}}
  {{/suite-grupo}}

  {{#suite-grupo numero=3 titulo="Características"}}

    {{#f.input label="Nivel" name="nivel" as |f|}}
      {{suite-selector/simple opciones=model.opciones.niveles valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Modalidad" name="modalidad" as |f|}}
      {{suite-selector/simple opciones=model.opciones.modalidades valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Tipo de financiamiento" name="tipoDeFinanciamiento" as |f|}}
      {{suite-selector/simple opciones=model.opciones.tiposDeFinanciamiento valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Tipo de gestión" name="tipoDeGestion" as |f|}}
      {{suite-selector/simple opciones=model.opciones.tiposDeGestion valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Área" name="area" as |f|}}
      {{suite-selector/simple opciones=model.opciones.areas valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

  {{/suite-grupo}}

  {{#suite-grupo numero=4 titulo="Datos de contacto"}}

    {{f.input label="Teléfono" name="telefono"}}
    {{f.input label="Email" name="email"}}
    {{f.input label="Dirección" name="direccion"}}

    {{#f.input label="Localidad" name="localidad" as |f|}}
      {{suite-selector/localidad valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{f.input label="Latitud" name="latitud"}}
    {{f.input label="longitud" name="longitud"}}

  {{/suite-grupo}}


  {{#suite-grupo titulo=""}}
    {{f.submit label=texto class="ui button green"}} {{yield}}
  {{/suite-grupo}}

{{/validated-form}}
