{{#validated-form
  model        = model
  on-submit    = tareaGuardar
  submit-label = texto as |f|
}}

  {{#suite-grupo numero=1 titulo="Piso"}}
    <p class="ui orange basic label">
      {{#if editar}}
        El piso solo se podrá editar desde el botón "editar piso" de la vista detalle.
      {{else}}
        El piso se creará vacío, editelo una vez creada la escuela.
      {{/if}}
    </p>
  {{/suite-grupo}}

  {{#suite-grupo numero=2 titulo="Características"}}
    {{#if editar}}
      {{#suite-permiso permiso="perfil.global"}}
        {{f.input label="CUE" name="cue" disabled=true}}
        {{f.input label="Nombre" name="nombre" required=true }}
        {{f.input label="Observaciones" name="observaciones"}}
      {{else}}
        {{f.input label="CUE" name="cue" disabled=true}}
        {{f.input label="Nombre" name="nombre" disabled=true}}
        {{f.input label="Observaciones" name="observaciones" disabled=true}}
      {{/suite-permiso}}
    {{else}}
      {{f.input label="CUE" name="cue" required=true}}
      {{f.input label="Nombre" name="nombre" required=true }}
      {{f.input label="Observaciones" name="observaciones"}}
    {{/if}}

    {{#if editar}}
      {{#suite-permiso permiso="perfil.global"}}
        {{#f.input label="Nivel" name="nivel" required=true as |f|}}
          {{suite-selector/simple opciones=model.opciones.niveles valor=f.value cuandoSelecciona=f.update}}
        {{/f.input}}

        {{#f.input label="Modalidad" name="modalidad" required=true as |f|}}
          {{suite-selector/simple opciones=model.opciones.modalidades valor=f.value cuandoSelecciona=f.update}}
        {{/f.input}}
      {{else}}
        {{#f.input label="Nivel" name="nivel" disabled=true as |f|}}
          {{suite-selector/simple deshabilitado=true opciones=model.opciones.niveles valor=f.value cuandoSelecciona=f.update}}
        {{/f.input}}

        {{#f.input label="Modalidad" name="modalidad" disabled=true as |f|}}
          {{suite-selector/simple deshabilitado=true opciones=model.opciones.modalidades valor=f.value cuandoSelecciona=f.update}}
        {{/f.input}}
      {{/suite-permiso}}
    {{else}}

        {{#f.input label="Nivel" name="nivel" required=true as |f|}}
          {{suite-selector/simple opciones=model.opciones.niveles valor=f.value cuandoSelecciona=f.update}}
        {{/f.input}}

        {{#f.input label="Modalidad" name="modalidad" required=true as |f|}}
          {{suite-selector/simple opciones=model.opciones.modalidades valor=f.value cuandoSelecciona=f.update}}
        {{/f.input}}

    {{/if}}

    {{#f.input label="Tipo de financiamiento" required=true name="tipoDeFinanciamiento" as |f|}}
      {{suite-selector/multiple opciones=model.opciones.tiposDeFinanciamiento valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Tipo de gestión" required=true name="tipoDeGestion" as |f|}}
      {{suite-selector/simple opciones=model.opciones.tiposDeGestion valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Área" name="area" required=true as |f|}}
      {{suite-selector/simple opciones=model.opciones.areas valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Programas" name="programas" required=true as |f|}}
      {{suite-selector/programas opciones=model.opciones.programas valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

  {{/suite-grupo}}

  {{#suite-grupo numero=3 titulo="Datos de contacto"}}

    {{f.input label="Teléfono" name="telefono"}}
    {{f.input label="Email" name="email"}}
    {{f.input label="Dirección" name="direccion"}}

    {{#f.input label="Localidad" name="localidad" required=true as |f|}}
      {{suite-selector/localidad valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{f.input label="Latitud" name="latitud"}}
    {{f.input label="longitud" name="longitud"}}

  {{/suite-grupo}}

  {{#if error}}
    <div class="ui negative message">
      <p>{{error}}</p>

    </div>
  {{/if}}

  {{#suite-grupo titulo=""}}
    {{f.submit label=texto class="ui button green"}} {{yield}}
  {{/suite-grupo}}

{{/validated-form}}
