{{#validated-form
  model        = model
  on-submit    = on-submit
  submit-label = texto as |f|
}}

  {{f.input label="Título" name="titulo"}}

  <div class="ui three column grid">
    <div class="row">
      <div class="column">
        {{#f.input label="Fecha" name="fecha" as |f|}}
          {{ui-calendar type="date" date=f.value onChange=f.update placeholder="Seleccione fecha"}}
        {{/f.input}}
      </div>

      <div class="column">
        {{#f.input label="Hora de inicio" name="inicio" as |f|}}
          {{ui-calendar type="time" icon="time" date=f.value onChange=f.update placeholder="Seleccione hora"}}
        {{/f.input}}
      </div>

      <div class="column">
        {{#f.input label="Hora de finalización" name="fin" as |f|}}
          {{ui-calendar type="time" icon="time" date=f.value onChange=f.update placeholder="Seleccione hora"}}
        {{/f.input}}
      </div>
    </div>
  </div>


  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        {{#f.input label="Responsable" name="responsable" as |f|}}

          {{#power-select
            search=(perform buscarPersonas)
            selected=selected
            onchange=(action (mut selected))
            as |item|
          }}
            {{item.nombre}} {{item.apellido}} <small class="gray">DNI: {{item.dni}}</small>
          {{/power-select}}

        {{/f.input}}
      </div>
    </div>
  </div>


  {{f.submit label=texto class="ui button green"}}
  {{yield}}

{{/validated-form}}
