{{#validated-form
  model        = model
  on-submit    = on-submit
  submit-label = texto as |f|
}}

  {{#suite-grupo numero=1 titulo="Datos de la acción"}}

    {{f.input label="Título" name="titulo"}}



    <div class="ui two column grid">
      <div class="column">
        {{#f.input label="Fecha de inicio" name="fecha" as |f|}}
          {{suite-campo/fecha fecha=f.value cuandoCambia=f.update}}
        {{/f.input}}
      </div>

      <div class="column">
        {{#f.input label="Hora de inicio" name="inicio" as |f|}}
          {{suite-campo/hora hora=f.value cuandoCambia=f.update}}
        {{/f.input}}
      </div>
    </div>


    <div class="ui two column grid">
      <div class="column">
        {{#f.input label="Fecha de finalización" name="fechaFin" as |f|}}
          {{suite-campo/fecha fecha=f.value cuandoCambia=f.update}}
        {{/f.input}}
      </div>

      <div class="column">
        {{#f.input label="Hora de finalización" name="fin" as |f|}}
          {{suite-campo/hora hora=f.value cuandoCambia=f.update}}
        {{/f.input}}
      </div>
    </div>

    {{#f.input label="Categoria" name="categoria" as |f|}}
      {{suite-selector/agrupable valores=model.categorias valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{f.input type="textarea" label="Objetivo" name="objetivo"}}

    {{#if editar}}
      {{f.input type="textarea" label="Minuta" name="minuta"}}
    {{/if}}

  {{/suite-grupo}}


  {{#suite-grupo numero=2 titulo="¿Quiénes participan?"}}

    {{#f.input label="Responsable" name="responsable" as |f|}}
      {{suite-selector/perfil valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Acompañantes" name="acompaniantes" as |f|}}
      {{suite-selector/acompaniantes valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{f.input label="Cant. participantes" name="cantidadDeParticipantes"}}

  {{/suite-grupo}}


  {{#suite-grupo numero=3 titulo="¿Dónde se realizará?"}}

    {{f.input type="checkbox" label="¿Requiere traslado?" name="requiereTraslado"}}

    {{#f.input label="Escuela" name="escuela" as |f|}}
      {{suite-selector/escuela valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

  {{/suite-grupo}}

  {{#suite-grupo titulo=""}}
    {{f.submit label=texto class="ui button green"}} {{yield}}
  {{/suite-grupo}}

{{/validated-form}}
