{{#validated-form
  model        = model
  on-submit    = tareaGuardar
  submit-label = texto as |f|
}}

  {{#suite-grupo numero=1 titulo="Datos del taller"}}

    {{#f.input label="Escuela" required=true name="escuela" as |f|}}
      {{suite-selector/escuela contexto="robotica" valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{#f.input label="Tallerista" required=true name="tallerista" as |f|}}
      {{suite-selector/perfil soloRobotica=true valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    {{suite-selector/area-y-taller-de-robotica formulario=f areas=model.areas model=model}}

    <div class="ui equal width stackable grid">
      <div class="column">
        {{#f.input label="Curso en que se dicta" required=true name="curso" as |f|}}
          {{suite-selector/simple opciones=model.cursos valor=f.value cuandoSelecciona=f.update}}
        {{/f.input}}
      </div>
      <div class="column">
        {{#f.input label="Sección en que se dicta" required=true name="seccion" as |f|}}
          {{suite-selector/simple opciones=model.secciones valor=f.value cuandoSelecciona=f.update}}
        {{/f.input}}
      </div>
    </div>

    {{f.input label="Cant. alumnos" required=true name="cantidadDeAlumnos"}}

    {{f.input label="Docente a cargo del curso" required=true name="docente_a_cargo"}}


    <div class="ui three column grid">

      <div class="column">
        {{#f.input label="Fecha" required=true name="fecha" as |f|}}
          {{suite-campo/fecha fecha=f.value cuandoCambia=f.update}}
        {{/f.input}}
      </div>

      <div class="column">
        {{#f.input label="Hora de inicio" required=true name="inicio" as |f|}}
          {{suite-campo/hora hora=f.value cuandoCambia=f.update}}
        {{/f.input}}
      </div>

      <div class="column">
        {{#f.input label="Hora de finalización" required=true name="fin" as |f|}}
          {{suite-campo/hora hora=f.value cuandoCambia=f.update}}
        {{/f.input}}
      </div>

    </div>

    {{#if editar}}
      <div class="ui grid">
        <div class="column">
          {{f.input type="radioGroup" label="¿Se pudo realizar el taller?" name="seDioElTaller" options=model.opcionesCierre }}
          {{#if (eq model.seDioElTaller "No")}}
            {{f.input label="¿Cuál fue el motivo por el que no se pudo dar el taller?" name="motivo"}}
          {{/if}}
        </div>
      </div>

      {{#f.input label="Archivos de minuta o acta" class="pt3" name="acta" as |f|}}
        {{#if model.acta}}
          Archivo actual: <a href="{{model.acta}}" target="_blank">{{model.acta}}</a>
        {{/if}}
        {{suite-campo/adjuntos archivos=f.value cuandoTerminaDeSubir=f.update}}
        <div class="ui pointing orange basic label">
          <b>IMPORTANTE: </b>
          Sólo se permiten archivos JPG y se puede subir más de un archivo. El resultado será un PDF.<br>
          La carga de archivos puede demorar unos minutos.
        </div>
      {{/f.input}}

      {{f.input type="textarea" label="Observaciones" name="minuta"}}

      <div class="ui grid">
        <div class="four wide column">
          {{f.input type="checkbox" label="Finalizar el evento" name="cerrarEvento"}}
        </div>
        <div class="twelve wide column">
          <div class="ui orange left pointing basic label">Si finaliza el evento, no podrá volver a editarlo.</div>
        </div>
      </div>
    {{/if}}

  {{/suite-grupo}}

  {{#suite-grupo titulo=""}}
    {{f.submit label=texto class="ui button green"}} {{yield}}
  {{/suite-grupo}}


{{/validated-form}}
