<div class="ui stackable grid">

  <div class="ui equal width row">

    <div class="column">

      {{#if titulo}}
        <h2>{{titulo}}</h2>
      {{/if}}


      {{#validated-form
        model        = (changeset formulario validaciones)
        on-submit    = alExportar
        submit-label = texto as |f|
      }}


      <div class="cf mb3">

        <div class="fl w-33">
          {{#f.input label="Desde" required=true name="desde" as |f|}}
            {{suite-campo/fecha valor=f.value cuandoCambia=f.update}}
          {{/f.input}}
        </div>

        <div class="fl w-33 pl3">
          {{#f.input label="Hasta" required=true name="hasta" as |f|}}
            {{suite-campo/fecha valor=f.value cuandoCambia=f.update}}
          {{/f.input}}
        </div>

        <div class="fl w-33 pl3">{{log model.criteriosDeExportacion}}
          {{#f.input label="Criterio" required=true name="criterio" as |f|}}
            {{suite-selector/simple opciones=model.criteriosDeExportacion valor=f.value cuandoSelecciona=f.update}}
          {{/f.input}}
        </div>

      </div>

        {{f.submit label=texto class="ui button green"}} {{yield}}

        {{yield}}

      {{/validated-form}}
    </div>

    <div class="column">
    </div>

  </div>

</div>
