{{yield}}

{{#suite-animacion}}

<div class="login-form">

  <img class="logo-suite" src='/imagenes/logo-suite.png' width=200 height=114>

  <div class="ui form">

    <div class="field">
      <label>Correo laboral  <span class='nota'>(cuenta abc)</span></label>
      {{input id="name" disabled=tareaIngresar.last.isRunning value=usuario placeholder="Usuario" name='usuario'}}
    </div>

    <div class="field">
      <label>Contraseña</label>

      {{input id="password" disabled=submit.last.isRunning type="password" value=clave placeholder="Contraseña" name='clave'}}

      <div class="login-checkbox">
        {{ui-checkbox label="Hacer visible este campo" checked=mostrarClave onChange=(action "alternarMostrarClave")}}
      </div>

    </div>

    {{#if tareaIngresar.last.isRunning}}
      <button class="ui disabled button large fluid green"><div class="ui active inverted tiny inline loader"></div> Ingresando </button>
    {{else}}
      <button id="ingresar" class="ui button large fluid green" {{action 'ingresar'}}>Ingresar</button>
    {{/if}}

    <div class='login-error'>
      {{#if error}}
        {{#suite-animacion}}
          <p>{{error}}</p>
        {{/suite-animacion}}
      {{/if}}
    </div>

</div>
</div>

    {{/suite-animacion}}
