{{#validated-form
  model        = model
  on-submit    = solicitarPaquetes
  submit-label = texto as |f|
}}

  {{#suite-grupo numero=1 titulo="Escuela"}}
    {{#f.input label="Escuela" name="escuela" required=true as |f|}}
      {{suite-selector/escuela valor=f.value cuandoSelecciona=f.update}}
    {{/f.input}}

    <div class="ui orange basic label">Tenga en cuenta que ahora la llave del servidor no se sube con la solicitud de paquetes, si no que por única vez se sube en el piso de la escuela. Para editar el piso escolar y/o subir la llave, puede hacerlo desde la vista de detalle de la escuela.</div>
  {{/suite-grupo}}


  {{#suite-grupo numero=2 titulo="Paquetes"}}
    <p> Por favor, cargar los datos <b>sin los "0" (ceros) de la izquierda</b>, <b>sin guiones</b> y <b>sin espacios</b>.<br>
    <span class="ui red">En la columna TPMData, indicar con un <b>SI</b> o dejar en blanco, según corresponda.</span></p>
    <p>A continuación indique los paquetes a solicitar, puede copiar y pegar
      directamente aquí los datos desde excel o libre office:</p>
    {{#f.input label="Paquetes a solicitar" name="paquetes" as |f|}}
      {{suite-planilla columnas=model.columnas datos=f.value cuandoCambia=f.update}}
    {{/f.input}}
  {{/suite-grupo}}

  {{#if error}}
    <div class="ui negative message">
      <p>{{error}}, hay {{errores.length}} errores:</p>

<pre class='overflow'>{{#each errores as |mensaje|}}{{mensaje}}
{{/each}}
</pre>

    </div>
  {{/if}}

  {{#suite-grupo titulo=""}}
    {{f.submit label=texto class="ui button green"}} {{yield}}
  {{/suite-grupo}}

{{/validated-form}}
