{{outlet}}
<div class="ui stackable grid">
  <div class="ui row middle aligned segment">
    <div class="sixteen wide column">
      <h2 class="ui header">
      {{#if model.image}}
          <img src={{model.image}} width="100%" class="ui circular image avatar-img">
          {{model.nombre}} {{model.apellido}}
      {{else}}
        {{ember-initials class='user-big-avatar' name=(concat model.nombre " " model.apellido) size=80}}
        {{model.nombre}} {{model.apellido}}
      {{/if}}
      </h2>

      <!--
        {{#x-file-input class="avatar-file-uploader"}}
          Subir imagen
        {{/x-file-input}}
      -->
    </div>
  </div>

  <div class="ui equal width row segment">
    <div class="column">

        {{#suite-permiso permiso="personas.editar"}}
          {{#link-to "app.contactos.edicion" model class="ui button primario"}}<i class="ui edit icon"></i> Editar{{/link-to}}
        {{/suite-permiso}}

        {{#suite-permiso permiso="personas.eliminar"}}
          <button class="ui button primario disabled"><i class="ui ban icon"></i> Eliminar</button>
        {{/suite-permiso}}

    </div>
  </div>

    {{suite-detalle
        numero="1"
        titulo="Datos"
        model=model
        filas=model.filaDatosPersonales
    }}


</div>
