<div class="ui pushable segment component context">

  {{#ui-sidebar class="inverted menu left inline vertical" context=".component.context" id="sub-sidebar"}}
    {{suite-lista-de-rutas}}
  {{/ui-sidebar}}

  <div class="pusher">

    <div class="ui container main">
      {{suite-barra-de-navegacion nombre=sesion.nombre cuandoQuiereCerrarSesion=(action "logout")}}


      {{#bread-crumbs tagName='div' class="ui" crumbClass="section" linkable=true as |component cow|}}

        {{#bread-crumb route=cow breadCrumbs=component}}
          {{#if cow.title}}
            {{cow.title}}
          {{else}}
            {{cow.name}} ({{cow.age}}) says {{cow.says}}
          {{/if}}
        {{/bread-crumb}}
      {{/bread-crumbs}}

      {{outlet}}

      <div class="footer">
      </div>

    </div>
  </div>
</div>
