<div class="login-page">

    <h2 class="center aligned header form-head">Suite</h2>

<div class="ui one column center aligned grid">

  <div class="ui column six wide form-holder">


    <div class="ui form">

      <div class="field">
        {{input type="text" id="username" value=username placeholder="usuario"}}
      </div>

      <div class="field">
        {{input type="password" id="password" value=password placeholder="contraseña"}}
      </div>

      <div class="field">
        {{#if cargando}}
          <button class="ui button disabled large fluid green">
            <div class="ui active inverted mini inline loader"></div>
          </button>
        {{else}}
          <button class="ui button large fluid green" onclick={{action "authenticate"}}>Ingresar</button>
        {{/if}}
      </div>

      <div class="field">
        {{#if error}}
          <p>{{error}}</p>
        {{/if}}
      </div>


    </div>
  </div>

</div>

</div>
